<div class = "jumbotron">
        <img src="/images/profpic.jpg" style = "width:400px;height:400px;"/>
        <h3 class = "welcome"> Greetings, {{username}}!</h3>
        <a href = "/reg/upload"><button>Upload Profile Image</button></a>
        <a href = "/reg/logout"><button>Logout</button></a>
</div>