<div class = jumbotron>
    <h1>File upload form</h1>
    <h3>Upload image file here: </h3>
    <form action = "/reg/upload" method = "POST" enctype = "multipart/form-data">
    <input type = "file" name = "file" size = "5000" />
    <br>
    <input type = "submit" value = "Upload File" />
    </form>
</div>